body {
  background-color: #888888;
  color: rgb(255, 255, 255);
}

fieldset {
  border-color: rgb(0, 0, 0)!important;
}

label {
  color: rgb(239, 239, 239)!important;
}

h5 {
  color: rgb(0, 0, 0)  ;
}

