body {
  background-color: #888888;
  color: rgb(255, 255, 255);
}

fieldset {
  border-color: rgb(0, 0, 0)!important;
}

label {
  color: rgb(239, 239, 239)!important;
}

h5 {
  color: rgb(0, 0, 0);
}

@media(width <= 250px) {
  html {
    font-size: 12px;
  }

  button {
    padding: 4px 8px!important;
    max-width: 100px;
  }
  
  fieldset {
    max-width: 120px;
  }
  
  input {
    max-width: 120px;
    padding: 10px 4px!important;
  }

  h4 {
    font-size: 20px!important;
  }

}